
.menu-item {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vh;
    max-width: 65vw;
    margin: 5vh auto;
    padding: 15px;
    background-color: #D5C9B0;
    border-radius: 10px;
    
}

.menu-wrapper {
    border: 1px solid black;
    margin-top: 10vh;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #789662;
}

.menu-form {
    margin-right: 2px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.menu-price {
    margin-left: auto;
    
}


.menu-form input {
    width: 50px;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
}

