.nav-bar {
border : 1px solid black;
display: flex;
justify-content: flex-end;
height: 13vh;
align-items: center;
font-size: 1.5rem;
background-color: rgba(120, 150, 98);
}

.shop-cart {
    margin: 10vw;
}

.header {
    border: 1px solid black;
    min-height: 70vh;
    background-image:  url("../UI/photo-1526234362653-3b75a0c07438.avif");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding: 40px;
}



.button-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.description {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 100px auto;
    background-color: rgba(120, 150, 98, 0.9);
    margin-bottom: 5vh;
    padding: 10px;
    max-width: 900px;
    width: 100%;
}
